.NavigationBar{
  background-color: #457b9d;
  text-align: right;
  height: 50px;
}

.LinkCSS{
  color: #f1faee;
  text-decoration: none;
  justify-content: center;
}

.a{
  word-spacing: 30px;
}

.NavSpacing{
  padding-top: 10px;
  padding-right: 20px;
}