.MonthContainer{
  margin: auto;
  margin-top: 100px;
  background-color: #457b9d;
  width: 854px;
  border: 1px black solid;
  text-align: center;
  font-family: 'Satisfy';
  font-size: 25px;
  color: white;
  float:left;
}

.WeekDay{
  float:left;
  border: 1px lightgrey solid;
  width: 120px;
  text-align: center;
  height: 50px;
  padding-top: 25px;
  font-family: 'Satisfy';
  font-size: 20px;
}

.CalendarHolder{
  margin: auto;
  width: 900px;
}

.Day{
  float:left;
  border: 1px lightgrey solid;
  width: 120px;
  text-align: center;
  padding-top: 20px;
  height: 40px;
  font-family: 'Architects Daughter';
  font-size: 18px;
}

.MonthChange{
  background-color: white;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-family: 'Satisfy';
  color: #457b9d;
}