@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.NavigationBar{
  background-color: #457b9d;
  text-align: left;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  border: 2px black solid;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.LinkCSS{
  color: #f1faee;
  text-decoration: none;
  justify-content: center;
  padding-right: 10px;
  padding: 1rem;
  font-family: 'Satisfy';
  height: 50px;
}

.LinkCSS:hover{
  color: black;
  text-decoration: none;
  justify-content: center;
  padding-right: 10px;
  padding: 1rem;
  font-family: 'Satisfy';
  background-color: lightgrey;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
}



.NavSpacing{
  padding-top: 10px;
  padding-right: 20px;
}

.MobileNavbar{
  display: none;
}

@media screen and (max-width: 800px) {
  .MobileNavbar{
    display: block;
  } 

  .DesktopNavbar{
    display: none;
  }
}